.score{
  background-color: #fff;
  height: 100%;
}
.score-title {
  color: #fff;
}
.score-content{
  max-width: 1024px;
  width: 85%;
  height: 100%;
  margin: 20px auto 0;
}
.score-form{
  margin-bottom: 20px;
}
.score-input{
  width: 200px;
}