.score-content {
    background-color: #fff;
}
.score-sheet {
    width: 400px;
    margin: 200px auto;
    border-radius: 2px;
    position: relative;
    border-bottom: 1px solid #ebedf0;
    color: rgba(0,0,0,.65);
    &-title {
        padding: 10px 0;
        text-align: center;
        background-color: #1890ff;
        color: #fff;
    }
    &-footer {
        width: 100%;
        // display: flex;
        text-align: center;
        border-left: 1px solid #ebedf0;
        border-right: 1px solid #ebedf0;
        &-label {
            // flex: 1;
            border-right: 1px solid #ebedf0;
            padding: 10px 0;
        }
        &-total {
            // flex: 3;
            // padding: 10px 0;
            height: 300px;
            line-height: 300px;
            text-align: center;
            font-size: 90px;
            font-weight: 900;
        }
    }
}